<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Pantry</title>
</head>
<body>
  <%- include('../partials/_navbar') %>
  <h1>Welcome to my Pantry</h1>
  <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
  <ul>
    <% if (pantry.length) { %>
      <% pantry.forEach(item => { %>
        <li>
          <%= item.name %>
          <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>
          <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
          </form>
        </li>
      <% }) %>
    <% } else { %>
      <p>There are no items in this pantry.</p>
    <% } %>
  </ul>
</body>
</html>
